<form
  class="create-form bb"
  action="/api/books/"
  method="POST"
  enctype="multipart/form-data"
>
  <span>Название</span>
  <input type="text" name="title" />
  <span>Описание</span>
  <input type="text" name="description" />
  <span>Автор</span>
  <input type="text" name="authors" />
  <span>favorite</span>
  <input type="text" name="favorite" />
  <span>Обложка</span>
  <input type="text" name="fileCover" />
  <span>Файл книги</span>
  <input type="file" name="fileBook" />
  <button>Добавить</button>
</form>
